<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>แก้ไขข้อมูล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form novalidate #member="ngForm">
    <ion-item>
      <ion-label position="floating">ชื่อ-นามสกุล</ion-label>
      <ion-input [(ngModel)]="fullname" name="fullname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">อีเมล</ion-label>
      <ion-input [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">เบอร์โทร</ion-label>
      <ion-input [(ngModel)]="mobile" name="mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ไลน์ไอดี</ion-label>
      <ion-input [(ngModel)]="lineid" name="lineid"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">เพิ่มเติม</ion-label>
      <ion-textarea [(ngModel)]="detail" name="detail"></ion-textarea>
    </ion-item>
    <ion-button *ngIf="fullname && email && mobile && lineid;else disBTN" (click)="update(member.value)" expand="full">
      <ion-icon name="save-outline"></ion-icon>&nbsp;อัปเดตข้อมูล
    </ion-button>
    <ng-template #disBTN>
      <ion-button disabled expand="full">
        <ion-icon name="save-outline"></ion-icon>&nbsp;อัปเดตข้อมูล
      </ion-button>
    </ng-template>
  </form>
</ion-content>