<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>รายละเอียด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <div style="height: 20px;"></div>
    <div style="text-align: center; font-size: 17pt;">{{ fullname }}</div>
    <div style="height: 20px;"></div>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>{{ email }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>{{ mobile }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
      <ion-label>{{ lineid }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="receipt" slot="start"></ion-icon>
      <ion-label>{{ detail }}</ion-label>
    </ion-item>
    <br>
    <div style="text-align: center;">
      <ion-button color="primary" [routerLink]="['/member-edit', id]">แก้ไข</ion-button>
      <ion-button color="danger"(click)="delete(id)">ลบ</ion-button>
    </div>
  </div>
</ion-content>