<ion-tabs>

  <ion-tab-bar slot="bottom" color="danger" mode="md">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="member">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>สมาชิก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="project">
      <ion-icon aria-hidden="true" name="apps-outline"></ion-icon>
      <ion-label>โปรเจค</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
